@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
body,
html,
#root {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

p,
div {
   font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Work Sans', sans-serif;
}

iframe {
   display: none;
}
